html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*以下正式開始*/

.wrapper{
	position:relative;
	width: 95.5%;
	height: auto;
	top:10.5vh;
    left: 2.25%;
	padding-bottom: 17vh;
}

.column_01{
	display: block;
	position: relative;
	width: 100%;
	height: 45vh;
	margin: 1.5% 0;
	/*background-color: aqua;*/
}

.column_02{
	display: block;
	position: relative;
	width: 100%;
	height: 48vh;
	margin: 1.5% 0;
	/*background-color: aqua;*/
}

.column_03{
	display: block;
	position: relative;
	width:100%;
	height: 35vh;
	/*background-color: aqua;*/
}

.column_04,.column_05{
	display: block;
	position: relative;
	width: 100%;
	height:40.15vh;
	/*background-color: aqua;*/
}

.column_06{
	display: block;
	position: relative;
	width: 100%;
	height:47.4vh;
	/*background-color: aqua;*/
}

.column_07{
	display: block;
	position: relative;
	width: 100%;
	height:18vh;
	/*background-color: aqua;*/
}

.column_08{
	display: block;
	position: relative;
	width: 100%;
	height:45vh;
	margin-top: 10%;
	/*background-color: aqua;*/
}

.column_09{
	display: block;
	position: relative;
	width: 100%;
	height: 50vh;
	margin-top: 2%;
	margin-bottom: 3%;
	/*background-color: aqua;*/
}

.text{
	margin-top: 1.5%;
	color: #898989;
	letter-spacing: 0.08em;
}

.pic{
	width: 100%;
}

/*.pic:hover{
	filter: blur(1px);
}*/


.product_01{
	display: block;
	width: 40%;
	height: 100%;
	left: 0;
	cursor: pointer;
	/*background-color: #F99597;*/
}


.product_02{
	display: block;
	position: absolute;
	width: 40%;
	height: auto;
	right:0;
	cursor: pointer;
	/*background-color: #F99597;*/
}

.product_03{
	display: inline-block;
	position: absolute;
	width: 20%;
	height: auto;
	bottom:0;
	cursor: pointer;
	/*background-color: #F99597;*/
}

.product_04{
	display: inline-block;
	position: absolute;
	width: 20%;
	height: auto;
	left: 20%;
	bottom:0;
	cursor: pointer;
	/*background-color: #F99597;*/
}

.product_05{
	display: inline-block;
	position: absolute;
	width: 20%;
	height: auto;
	right: 0;
	bottom:0;
	cursor: pointer;
	/*background-color: #F99597;*/
}

.product_06{
	display: inline-block;
	position: absolute;
	width: 20%;
	height: auto;
	bottom:0;
	cursor: pointer;
	/*background-color: #F99597;*/
}

.product_07{
	display: inline-block;
	position: absolute;
	width: 20%;
	height: auto;
	right: 0;
	bottom:0;
	cursor: pointer;
	/*background-color: #F99597;*/
}

.product_08{
	display: inline-block;
	position: absolute;
	width: 40%;
	height: auto;
	left: 40%;
	bottom:0;
	cursor: pointer;
	/*background-color: #F99597;*/
}

.product_09{
	display: inline-block;
	position: absolute;
	width: 40%;
	height: auto;
	left: 0;
	bottom:0;
	cursor: pointer;
	/*background-color: #F99597;*/
}

/*backtotop*/
.back-to-top {
	display: none; /* 默認隱藏一開始不顯示 */
	position: fixed;
	bottom: 2%;
	right: 2.25%;
	width: 8vh;
	height:8vh;
	z-index: 1000;
	border:none;
	outline: none; /* 不顯示外框 */
	background-color:hsla(0,0%,100%,0.5);
	color: #898989;
	cursor: pointer;
	border-radius: 1000em; /* 增加圓角 */
}

.back-to-top:hover {
	background-color:hsla(0,0%,0%,0.02);
	color: #000;
}

a{
	font-family: 'Noto Sans TC', sans-serif;
	text-decoration: none;
	color: #000;
}


@media(max-width:1024px){
	.column_01,.column_02{
		display: inline-block;
		height: auto;
		margin: 3% 0;
	}
	
	.column_03{
		display: inline-block;
		height: auto;
		margin-top: 3%;
	}
	
	.column_04{
		display: inline-block;
		height: auto;
		margin-top: 6%;
	}
	
	.column_05{
		display: inline-block;
		height: auto;
		margin-top: 9%;
	}
	
	.column_06{
		display: inline-block;
		height: auto;
		margin-top:6%;
	}
	
	.column_07{
		display: inline-block;
		height: auto;
		margin-top:6%;
	}
	
	.column_08{
		display: inline-block;
		height: auto;
		margin-top:6%;
	}
	
	.column_09{
		display: inline-block;
		height: auto;
		margin-top:6%;
	}
	
	.product_01{
		position: relative;
		width: 100%;
		height: 80%;
	}
	
	.product_02{
		position: relative;
		width: 100%;
		height: auto;
	}
	
	.product_03{
		position: relative;
		width: 50%;
		height: auto;
	}
	
	.product_04{
		position: relative;
		width: 50%;
		height: auto;
		left: 50%;
	}
	
	.product_05{
		position: relative;
		width: 50%;
		height: auto;
		left: 0;
	}
	
	.product_06{
		position: relative;
		width: 50%;
		height: auto;
		left: 50%;
	}
	
	.product_07{
		position: relative;
		width: 50%;
		height: auto;
		left: 0;
	}
	
	.product_08{
		position: relative;
		width: 100%;
		height: auto;
		left: 0;
	}
	
	.product_09{
		position: relative;
		width: 100%;
		height: auto;
	}
	
}
