/*以下正式開始*/

html {
	height: 100%;
}

body {
	background-image: url(../images/Info/Info_bg.png);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	margin: 0px;
}

::-webkit-scrollbar {
	display: none;
	/* Chrome Safari */
}



.title {
	font-family: "Noto Sans TC", "Microsoft JhengHei", PingFang, STHeiti, sans-serif, serif;
	font-size: 42px;
	font-weight: 440;
	color: #424242;
	text-align: left;
	position: relative;
	top: 2vh;
	left: 130px;
	padding-bottom: 5vh;
	letter-spacing: 2px;
}

.container {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	padding: 1vh 1vw;
}

.video {
	margin-right: 5vw;
	position: relative;
	width: 1024px;
	max-width: 100%;
	max-height: calc((100vw - 40px) / (16/9));

}

iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.conceptVideo{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 98%;
}

.column_01{
	display: flex;
	flex-direction: row;
	width: 100%;
	justify-content: space-around;
	flex-wrap: wrap;
}

.column_02{
	display: flex;
	flex-direction: row;
	width: 100%;
	justify-content: space-around;
	flex-wrap: wrap;
}

.conceptVideoPC{
	width: 300px;
	padding: 1vh 0;
}

.text {
	display: flex;
	flex-direction: row;
	padding-top: 50px;
}

.CH_text,
.EN_text {
	font-family: "Noto Sans TC", "Microsoft JhengHei", PingFang, STHeiti, sans-serif, serif;
	font-weight: 440;
	color: #424242;
	text-align: left;
	font-size: 110%;
	letter-spacing: 2px;
	margin-bottom: 20px;
	display: flex;
	flex-direction: column;
	padding: 50px 20px;
	p {
		padding-bottom: 20px;
		margin: 0;
	}
}

footer {
	position: fixed;
	display: block;
	bottom: 0;
	left: 0;
	width: 100%;
	background-color: white;
}


li {
	font-family: "Noto Sans TC", "Microsoft JhengHei", PingFang, STHeiti, sans-serif, serif;
	color: #424242;
	font-size: 20px;
	font-weight: 440;
	letter-spacing: 2px;
}

.ul_style {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
	list-style-type: none;
}

.ft_container img {
	margin: 5px 30px;
	width: 90px;
	max-width: 100%;
	height: auto;
}

.ft_container li a:hover img {
	filter: brightness(0);
}

.homePage{
	position: fixed;
	left: 2.5%;
	bottom: 10vh;
	z-index: 15;
}

.logo {
	img {
		height: 6vh;
		filter: brightness(0.1);
	}

	a {
		font-family: 'Roboto',sans-serif;
		display: flex;
		flex-direction: column;
		align-items: center;
		text-decoration: none;
		color: black;
		font-size: 1vh;
	}
}

.logo:hover {
	/* Start the shake animation and make the animation last for 0.5 seconds */
	animation: shake 0.9s;

	/* When the animation is finished, start again */
	animation-iteration-count: infinite;
}

@keyframes shake {
	0% {
		transform: translate(1px, 1px) rotate(0deg);
	}

	10% {
		transform: translate(-1px, -2px) rotate(-1deg);
	}

	20% {
		transform: translate(-3px, 0px) rotate(1deg);
	}

	30% {
		transform: translate(3px, 2px) rotate(0deg);
	}

	40% {
		transform: translate(1px, -1px) rotate(1deg);
	}

	50% {
		transform: translate(-1px, 2px) rotate(-1deg);
	}

	60% {
		transform: translate(-3px, 1px) rotate(0deg);
	}

	70% {
		transform: translate(3px, 1px) rotate(-1deg);
	}

	80% {
		transform: translate(-1px, -1px) rotate(1deg);
	}

	90% {
		transform: translate(1px, 2px) rotate(0deg);
	}

	100% {
		transform: translate(1px, -2px) rotate(-1deg);
	}
}


@media(max-width :923px) {
	.video {
		position: relative;
		left: 0px;
		top: 50%;
		width: 1024px;
		max-width: 100%;
		height: 576px;
		margin: 0;
	}

	.CH_text,
	.EN_text {
		padding: 0 5vw;
		font-size: 2.5vw;
	}

	.ul_style {
		flex-wrap: wrap;
	}

	footer {
		display: block;
		position: relative;
	}
	.title{
		left: 0;
	}
}

@media (max-width: 616px) {
	.title{
		width: 100%;
		text-align: right;
		font-size: 10vw;
	}
	.homePage{
		top: 20px;
		.logo {
			img {
				height: 5vh;
				filter: brightness(0.1);
			}
		
			a {
				font-size: 1vh;
			}
		}
		
	}
	.text {
		flex-direction: column;
	}
	.conceptVideoPC{
		max-width: 300px;
		width: 100%;
	}

	.CH_text,
	.EN_text {
		padding: 0 5vw;
		font-size: 3vw;
	}
}