/*以下正式開始*/

html {
	height: 100%;
}

body {
	background-image: url(../images/Info/Info_bg.png);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	margin: 0px;
}

::-webkit-scrollbar {
	display: none;
	/* Chrome Safari */
}



.title {
	font-family: "Noto Sans TC", "Microsoft JhengHei", PingFang, STHeiti, sans-serif, serif;
	font-size: 42px;
	font-weight: 440;
	color: #424242;
	text-align: left;
	position: relative;
	top: 5vh;
	left: 130px;
	padding-bottom: 65px;
	letter-spacing: 2px;
}

.container {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	padding: 1vw 1vh;
}

.video {
	margin-right: 5vw;
	position: relative;
	width: 1024px;
	max-width: 100%;
	max-height: calc((100vw - 40px) / (16/9));
	
}

iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}


.text {
	display: flex;
	flex-direction: column;
}

.CH_text,
.EN_text {
	font-family: "Noto Sans TC", "Microsoft JhengHei", PingFang, STHeiti, sans-serif, serif;
	font-weight: 440;
	color: #424242;
	text-align: left;
	font-size: 110%;
	letter-spacing: 2px;
	margin-bottom: 20px;
	display: flex;
	flex-direction: column;

	p {
		padding-bottom: 20px;
		margin: 0;
	}
}

.EN_text {
	font-family: "Helvetica", "Noto Sans TC", "Microsoft JhengHei", PingFang, STHeiti, sans-serif, serif;
	font-weight: 440;
	color: #424242;
	text-align: left;
	font-size: 110%;
	letter-spacing: 1px;
	line-height: 20px;
}

footer {
	position: fixed;
	display: block;
	bottom: 0;
	left: 0;
	width: 100%;
	background-color: white;
}


li {
	font-family: "Noto Sans TC", "Microsoft JhengHei", PingFang, STHeiti, sans-serif, serif;
	color: #424242;
	font-size: 20px;
	font-weight: 440;
	letter-spacing: 2px;
}

.ul_style {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	flex-wrap: nowrap;
	list-style-type: none;
}

.ft_container img {
	margin: 10px 30px;
	width: 135px;
	max-width: 100%;
	max-height: 100%;
	height: auto;
}

.ft_container li a:hover img {
	filter: brightness(0);
}

@media(max-width :1705px) {
	.video {
		position: relative;
		left: 0px;
		top: 50%;
		width: 1024px;
		max-width: 100%;
		height: 576px;
		margin: 0;
	}

	.text {
		padding-top: 50px;
		flex-direction: row;
	}

	.CH_text,
	.EN_text {
		padding-left: 50px;
		padding-right: 50px;
	}

	.ul_style {
		flex-wrap: wrap;
	}

	footer {
		display: block;
		position: relative;
	}
}

@media (max-width: 500px) {
	.text {
		flex-direction: column;
	}

}