@charset "utf-8";
/* CSS Document */
html,body{
	margin: 0;
	padding: 0;
	background-color:black;
	height: 100%;
	width: auto;
	overflow: hidden;
  }
  
.logo{
	display:block;
	position: absolute;
	left: 3%;
	top:130%;
	width:auto;
	opacity: 0;
}
.bg{
	display: block;
	position: absolute;
	width: 400vh;
	
}

.bg img{
	width: 100%;
}

.big_logo{
  	position: absolute;
	top:15vh;
	left: 0%;
	opacity: 0;
}

.personalbox{
  display: block;
  position: fixed;
  width: 150vw;
  height: 150vh;
  top: 0%;
  right: 0%;
  /* 水平置中 */
  justify-content: center;    
  /* 垂直置中 */
  align-content: center;      
  flex-wrap: wrap;
}

.column_down {
  display: block;
  position: fixed;
  left: 0%;
  bottom: 0%;
  width: 165vw;
  height: 25vh;
  overflow: hidden;
  justify-content: center;    
  align-content: center;      
  flex-wrap: wrap;
  max-width: 100%
}

::-webkit-scrollbar {
  display: none; /* Chrome Safari */
}

.btn_back{
	display:block;
	position: absolute;
	left: 5%;
	top:2%;
	width:auto;
	height: auto;
	z-index: 8;
	
}
.btn_next{
	display:block;
	position: absolute;
	left: 20%;
	top:2%;
	width:auto;
	height: auto;
	z-index: 8;
	
}
.personal{
	display: block;
	position: absolute;
	width: 50%;
	left:65%;
	top: 42.5%;
	color:white;
	font-size: 2em;
	letter-spacing: 0.2em;
	max-width: 80%
}

.worktitle_ch{
	display:block;
	position: absolute;
	width: auto;
	height: auto;
	font-size: 4em;
	/* letter-spacing: 0.05em; */
	color:white;
	right: 10.5%;
	top:48%;
	font-family: Noto Sans CJK TC, sans-serif;
}


.workinfo_time{
	display: block;
	position: absolute;
	right: 10.5%;
	top:52%;
	width: auto;
	height:auto;
	color:white;
	font-family: Noto Sans CJK TC, sans-serif;
	font-size: 2em;
	letter-spacing: 0.3em;
}

.workinfo_introduction{
	position: absolute;
	right: 9.5%;
	top: 61.5%;
	width: auto;
	height:auto;
	color:white;
	text-align: right;
	font-family: Noto Sans CJK TC, sans-serif;
	font-size: 1.9em;
	letter-spacing: 0.16em;
	line-height: 1.2em;
}

.workinfo_sentence{
	display: block;
	position: absolute;     
	right:20%;
	top: 75%;
	width: 65vh;
	height:auto;
	color:white;
	font-size: 4em;
	letter-spacing: 0.27em;
	line-height: 0.45em;
	font-family: Noto Sans CJK TC, sans-serif;
}

.slogan{
	display: block;
	position: absolute;
	left:3%;
	top: 2.5%;
	width: 95%;
	height:auto;
	color:black;
	/* background: #ffffff; */
	font-size: 5.5em;
	letter-spacing: 0.2em;
	line-height: 0.275em;
	font-family: Noto Sans CJK TC, sans-serif;
	z-index: 20;
	
}
.undershot{
	display: block;
	position: absolute;
	right:0%;
	top:0%;
	width: 100%;
	height:100%;
	background-color: black;
	opacity: 1;
}

.headshot{
	display: block;
	position: absolute;
	right: 70%;
	top:12.5%;
	width: 20%;
	height:5%;
	/* background-color: black; */
}

.headshot img{
	position: absolute;
	width: 100%;
}

.name_01{
	display: block;
	position: absolute;
	left:55.5%;
	top: 10%;
	width: auto;
	height:auto;
	color:white;
	font-size: 7.5em;
	letter-spacing: 0.2em;
	
}

.name_02{
	display: block;
	position: absolute;
	left:57.5%;
	top: 45%;
	width: auto;
	height:auto;
	color:white;
	font-size: 3em;
	letter-spacing: 0.115em;
	/*background-color: #C892FF;*/
}

.personal_link{
	display: block;
	position: absolute;
	left:54%;
	top: 62%;
	width:100%;
	height:5%;
	color:white;
	font-size: 2em;
	letter-spacing: 0.115em;
	
}
.personal_artwork_link{
	display: block;
	position: absolute;
	left:14.5%;
	top:250%;
	color:white;
	font-size: 0.9em;
}

.workinfo{
	display: block;
	width: 50%;
	overflow: hidden;
}

.video{
	display:block;
	position: absolute;
	right: 10%;
	top: 14.5%;
	width:85%;
	height: auto;
}

.imgs{
	display: block;
	width:100%;
	height:100%;
	overflow: hidden;
}
.imgs img{
	width: 100%;
}

.img1{
	display: block;
	position: absolute;
	right: 45%;
	top: 42.5%;
	width: 50%;
	height:auto;
	max-width: 100%
}

.img2{
	display: block;
	position: absolute;
	right: 45%;
	top: 59%;
	width: 50%;
	height:auto;
}
