html,body{
	margin:0%;
	background-color: gainsboro;
	overflow: hidden;
}

#bg{
	position: absolute;
	width: 100%;
	height: 100%;
	background-image:url('bg1.jpg');
	background-repeat:center center no-repeat;
}

#all-imgs{
position: fixed;
top: 65%;
width:90%;
height: 40%;
margin:5%;
overflow:hidden
}

.imgs{
	height: 40%;
	width: 500000px;
}

.imgs img{
	height: 100%;
}

.title{
  display: block;
  position: absolute;
  top: 20%;
  left: 5%;
  width: 80vh;
  height: auto;
  color: white;
  font-size: 10vh;
  letter-spacing: 0.5vh;
  font-family: Noto Sans CJK TC, sans-serif;
}

.intro{
	display: block;
	position: absolute;
	left: 1%;
	width: 65vh;
	height: auto;
	color: white;
	font-size: 3vh;
	letter-spacing: 0.5vh;
	font-family: Noto Sans CJK TC, sans-serif;
  }
.play{
	display: block;
	position: absolute;
	top: 170%;
	left: 1%;
	width: 65vh;
	height: auto;
	color: white;
	font-size: 3vh;
	letter-spacing: 0.5vh;
	font-family: Noto Sans CJK TC, sans-serif;
  }

  .words{
	display: block;
	position: absolute;
	top: 340%;
	left: 0%;
	width: 65vh;
	height: auto;
	color: white;
	font-size: 3vh;
	letter-spacing: 0.5vh;
	font-family: Noto Sans CJK TC, sans-serif;
  }

