html,body{
	margin:0%;
	background-color: gainsboro;
	overflow: hidden;
}

#bg{
	position: absolute;
	width: 100%;
	height: 100%;
	background-image:url('bg1.jpg');
	background-repeat:center center no-repeat;
}

/* .elem{
	position: absolute;
	top: 5%;	
	width: 100%;
	height: auto;
	background-image:url('bg2.jpg');
	background-repeat:center center no-repeat;
} */

/* .bg :hover{
	position: absolute;
	width: 100%;
	height: 100%;
	background-image:url('bg1.jpg');
	background-repeat:center center no-repeat;
} */

#all-imgs{
position: fixed;
top: 65%;
width:90%;
height: 40%;
margin:5%;
overflow:hidden
}

.imgs{
	height: 40%;
	width: 500000px;
}

.imgs img{
	height: 100%;
}

/* .imgs:hover{  
	opacity: 0;
} */